<h4>Battle Popularity for a Couple Twitter Handles:</h4>
<div class="row">
	<form action="/result" method="post">
		<div class="large-12 columns">
			<div class="row collapse">
				<div class="small-3 large-2 columns">
					<span class="prefix">@</span>
				</div>
				<div class="small-9 large-10 columns">
					<input type="text" name="login-a" id="login-a" placeholder="tweet_handle contestant 1" />
				</div>
				<div class="small-3 large-2 columns">
					<span class="prefix">@</span>
				</div>
				<div class="small-9 large-10 columns">
					<input type="text" name="login-b" id="login-b" placeholder="tweet_handle contestant 2" />
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<span class="center-button"><input type="submit" class="button" value="Game On" name="submit" /></span>
				</div>
			</div>
		</div>
	</form>
</div>