<div class="row">
    <div class="large-12 columns">
		<header>
			<span data-tooltip data-options="disable-for-touch:true" class="has-tip tip-bottom" title="Go back the the Start!">
				<a href="/">
					<h2><i class="icon-twitter icon-2x"></i>Talk to the @handle<i class="icon-twitter icon-2x"></i></h2>
					<p>Hash verse hash, brother verse sister</p>
				</a>
			</span>
		</header>
		<hr />
	</div>
</div>