<form action="/twitter" method="post">
	<span>#</span>
	<span><input type="text" name="first_hash" id="text" placeholder="hashtag contestant 1" /></span>
	<span>#</span>
	<span><input type="text" name="second_hash" id="text" placeholder="hashtag contestant 2" /></span>
	<span class="center-button"><input type="submit" class="button" value="Game On" name="submit" /></span>	
</form>

<h2>OR</h2>

<h4>Post a Tweet:</h4>
<form action="/tweet" method="post">
	<span><input type="text" name="twitter_handle" id="twitter_handle" placeholder="@twitter_handle"/></span>
	<textarea name="tweet_body" id="tweet_body" placeholder="Type your tweet here..."></textarea>
	<span class="center-button"><input type="submit" class="button" value="Tweet!" name="submit_tweet" /></span>	
</form>